//- Content on about.pug

//- Include all date strings from config file
- const dates = require("./config").dates;

//- Include all submissions links from config file
- const submissions = require("./config").submissionLinks;
//- About this page
mixin header()
  h1 about web.lab
  p.slug
    | learn how to build a dynamic, server-backed website.
    | take part in a competition to win thousands of dollars.

//- Sidebar generator
  NOTE: ids matching articles are crucial `ARTICLE_mark`
mixin sidebar()
  ul#sidebar
    li.head.select#head_mark about
    li#what_mark
      a(href="#what") what is web.lab
    li#transition_mark
      a(href="#transition") rebranding
    li#class_mark
      a(href="#class") class structure
    li#contest_mark
      a(href="#contest") what is the contest
    li#eligible_mark
      a(href="#eligible") who is eligible
    li#milestones_mark
      a(href="#milestones") milestones
    li#rules_mark
      a(href="#rules") contest rules
    li#prizes_mark
      a(href="#prizes") prizes
    li#judging_mark
      a(href="#judging") judging


//- Separating content specifically about the contest
include contest.pug
include articles/milestones.pug

//- Call article sections here
  NOTE: `ARTICLE` ids attached to `.article.mark` are crucial to linking in the sidebar, also make sure to add corresponding li objects to `sidebar()` above
mixin articles()
  article.section
    articlemark.mark#what
    h1 what is web.lab
    include:markdown-it(html=true) articles/about.md
  article.section
    articlemark.mark#transition
    h1 why we transitioned from 6.148
    include:markdown-it(html=true) articles/transition.md
  article.section
    articlemark.mark#class
    h1 class structure
    include:markdown-it(html=true) articles/structure.md
  article.section
    articlemark.mark#contest
    h1 what is the contest
    include:markdown-it(html=true) articles/contest.md
  article.section
    articlemark.mark#eligible
    h1 who is eligible
    include:markdown-it(html=true) articles/who_is_eligible.md
  article.section
    articlemark.mark#milestones
    h1 milestones
    +milestones(submissions)
  article.section
    articlemark.mark#rules
    +rules_article
  article.section
    articlemark.mark#prizes
    include:markdown-it articles/prizes.md
  article.section
    articlemark.mark#judging
    +judging_article
