//- Content for schedule.pug

//- About this page
mixin header()
  h1 schedule

//- Detailed schedule information set here
-
  var start = 0 //- Start day (0 = Sun, 1 = Mon, ...)
  const calendar = require('./src/views/content/calendar.json');

  // TODO: Check start and end date info
  var weeks = [[9 - start, 15 - start], 
              [16 - start, 22 - start], 
              [23 - start, 29 - start], 
              [30 - start, 37 - start - 31]]

//- Sidebar generator
  Does not need to be edited
mixin sidebar()
  ul#sidebar
    li.select#head_mark
      a(href="#weekone") week 1: 
      | 1/#{weeks[0][0]} - 1/#{weeks[0][1]}
    li#weektwo_mark
      a(href="#weektwo") week 2: 
      | 1/#{weeks[1][0]} - 1/#{weeks[1][1]}
    li#weekthree_mark
      a(href="#weekthree") week 3: 
      | 1/#{weeks[2][0]} - 1/#{weeks[2][1]}
    li#weekfour_mark
      a(href="#weekfour") week 4: 
      | 1/#{weeks[3][0]} - 2/#{weeks[3][1]}


//- Schedule generator
  Does not need to be edited
mixin schedule()
  -
    var thisday = 1;
    var oftheweek = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
    
  while thisday < 34
    if thisday == weeks[0][0]
      #weekone
    else if thisday == weeks[1][0]
      articlemark.mark#weektwo
    else if thisday == weeks[2][0]
      articlemark.mark#weekthree
    else if thisday == weeks[3][0]
      articlemark.mark#weekfour

    if thisday in calendar
      - var types = ""
      for ev in calendar[thisday]
        if !types.includes(ev.type) && ev.type != "block"
          - types += `${ev.type} `
      .day(class= types)
        if thisday <= 31
          h3.date #{oftheweek[(thisday + start - 1) % 7]}, january #{thisday}
        else
          h3.date #{oftheweek[(thisday + start - 1) % 7]}, february #{thisday - 30}
        for event in calendar[thisday]
          if event.type == "block"
            .block= event.name
          else
            div(class=event.type)
              +event_details(event)
    - thisday ++


//- Helper for schedule()
mixin event_details(event)
  .time= event.when
  .name
    span= event.name
    if event.who
      .lecturer Lecturer: #{event.who}
  .room= event.where
  if event.links
    .resourcesOffice Hours
      for resource in event.links
        a(href=resource.link)
          if resource.type == "youtube"
            <i class="fab fa-youtube"></i>
          else if resource.type == "slides"
            <i class="far fa-file-pdf"></i>
          else if resource.type == "info"
            <i class="fas fa-info"></i>
