//- Content for schedule.pug

//- About this page
mixin header()
  h1 schedule

//- About Milestones and their dates (general)
mixin milestones()
  h2 milestones
  p Three set in stone milestones have to be met in order to qualify for the contest or get credit for the class.
  ul
    li
      strong Milestone 1
      |  (jan 13-14): 
      a() Pitch your projects 
    li
      strong Milestone 2
      |   (jan 23): 
      a() Minimal Viable Product
    li
      strong Milestone 3
      |   (jan 30): 
      a() Final submission

//- Detailed schedule information set here
-
  var start = 1 //- Start day (0 = Sun, 1 = Mon, ...)
  var calendar = {
    6: [
      {
        type: "lec", 
        name: "6.148 2018 Kickoff", 
        who: "Aaron Sipser",
        when: "11:00AM - 11:30AM", 
        where: "10-250",
        links: [
          {type: "youtube", name: "YouTube", link: "https://www.youtube.com/watch?v=DUk2HYt44cM"}, 
          // {name: "Theme Reveal", link: "https://youtu.be/vajvNu_AVD8"}, 
          {type: "pdf", name: "Slides 1", link: "http://webdevelopment.mit.edu/2018/pages/lectures/WEBday1_kickoff.pdf"}, 
          {type: "pdf", name: "Slides 2", link: "http://webdevelopment.mit.edu/2018/pages/lectures/WEBday1_ideation.pdf"}
        ]
      },
      {
        type: "lec",
        name: "What is a Website?",
        who: "Aaron Sipser",
        when: "11:30AM - 12:00PM",
        where: "10-250"
      },
      { type: "block", name: "LUNCH!" },
      {
        type: "oh",
        name: "Environmental Setup Office Hours",
        when: "07:00PM - 09:00PM",
        where: "32-044"
      },
      {
        type: "event",
        name: "Hackathon",
        when: "07:00PM - 01:00AM",
        where: "32-044",
      },
    ],
    10: [
      {
        type: "milestone",
        name: "Milestone 0 Due",
        link: "http://webdevelopment.mit.edu/2018/contest/milestones#m0",
        where: "N/A",
        when: "11:59PM"
      },
    ],
  }
  // TODO: Check start and end date info
  var weeks = [[7 - start, 13 - start], 
              [14 - start, 20 - start], 
              [21 - start, 27 - start], 
              [28 - start, 34 - start - 31]]

//- Sidebar generator
  Does not need to be edited
mixin sidebar()
  ul#sidebar
    li.select
      a(href="#weekone") week 1: 
      | 1/#{weeks[0][0]} - 1/#{weeks[0][1]}
    li
      a(href="#weektwo") week 2: 
      | 1/#{weeks[1][0]} - 1/#{weeks[1][1]}
    li
      a(href="#weekthree") week 3: 
      | 1/#{weeks[2][0]} - 1/#{weeks[2][1]}
    li
      a(href="#weekfour") week 4: 
      | 1/#{weeks[3][0]} - 2/#{weeks[3][1]}


//- Schedule generator
  Does not need to be edited
mixin schedule()
  -
    var thisday = 1;
    var oftheweek = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
    
  while thisday < 31
    if thisday == weeks[0][0]
      #weekone
    else if thisday == weeks[1][0]
      #weektwo
    else if thisday == weeks[2][0]
      #weekthree
    else if thisday == weeks[3][0]
      #weekfour

    if thisday in calendar
      - var types = ""
      for ev in calendar[thisday]
        if !types.includes(ev.type) && ev.type != "block"
          - types += `${ev.type} `
      .day(class= types)
        h3.date #{oftheweek[(thisday + start - 1) % 7]}, january #{thisday}
        for event in calendar[thisday]
          if event.type == "lec"
            .lec
              +event_details(event)
          else if event.type == "oh"
            .oh
              +event_details(event)
          else if event.type == "event"
            .event 
              +event_details(event)
          else if event.type == "block"
            .block= event.name
          else if event.type == "milestone"
            .milestone
              .time= event.when
              .name
                span= event.name
              .room= event.where
              a(href= event.link) <i class="fas fa-info"></i>
    - thisday ++


//- Helper for schedule()
mixin event_details(event)
  .time= event.when
  .name
    span= event.name
    if event.who != undefined
      .lecturer Lecturer: #{event.who}
  .room= event.where
  if event.links
    .resources
      for resource in event.links
        a(href=resource.link)
          if resource.type == "youtube"
            <i class="fab fa-youtube"></i>
          else if resource.type == "pdf"
            <i class="far fa-file-pdf"></i>
