//- Content on team.pug

//- About this page
mixin header()
  h1 our team
  .slug
    | web.lab is run by a group of student teachers, organizers, and developers
    | united by their passion for the web

//- This year's staff
  Change `staff` Array
  Images in `public/img/staff`
mixin current_staff()
  - const staff = require('./config').team.current;
    
  each person in staff
    .single.staff
      .img(style='background-image: url("/public/img/staff/current/' + person.img '\")')
      .about
        .name 
          strong= person.firstName + " "
          = person.lastName
        .position= person.position

//- Our alumni
  Change `alums` Array
  Images in `public/img/staff`
mixin alumni()
  - const alums = require('./config').team.alums;
    
  each person in alums
    .single.staff
      .img(style=`background-image: url("/public/img/staff/alums/${person.year}/${person.img}` '\")')
      .about
        .name 
          strong= person.firstName + " "
          = person.lastName
