//- Content on team.pug

//- About this page
mixin header()
  h1 our team
  .slug
    | in 2010, a group of students passionate
    | about learning, x, and x started what was
    | then called 6.470
    | </br> </br>
    | today, under the name web.lab, we continue
    | to teach, inspire, and build every january

//- This year's staff
  Change `staff` Array
  Images in `public/img/staff`
mixin current_staff()
  -
    var staff = [
      {firstName: "aaron",
      lastName: "sipser",
      position: "president",
      img: "aaron.png"},

      {firstName: "slava",
      lastName: "kim",
      position: "vice president",
      img: "slava.png"},

      {firstName: "shannen",
      lastName: "wu",
      position: "academic chair",
      img: "shannen.png"},

      {firstName: "zachary",
      lastName: "collins",
      position: "treasurer",
      img: "zach.png"},

      {firstName: "andrew",
      lastName: "chen",
      position: "sponsor chair",
      img: "andrew.png"},

      {firstName: "jessica",
      lastName: "tang",
      position: "publicity chair",
      img: "jessica.png"},

      {firstName: "cory",
      lastName: "lynch",
      position: "tech chair",
      img: "cory.png"},

      {firstName: "cynthia",
      lastName: "liu",
      position: "operations chair",
      img: "cynthia.png"},

      {firstName: "rupayan",
      lastName: "neogy",
      position: "historian",
      img: "rupayan.png"},
    ]
    
  each person in staff
    .single.staff
      .img(style='background-image: url("public/img/staff/current/' + person.img '\")')
      .about
        .name 
          strong= person.firstName + " "
          = person.lastName
        .position= person.position

//- Our alumni
  Change `alums` Array
  Images in `public/img/staff`
mixin alumni()
  -
    var alums = [
      //NEWEST ALUMS HERE
      {firstName: "joanne",
      lastName: "lee",
      img: "joanne.png",
      year: "2018"},

      {firstName: "robert",
      lastName: "vunabandi",
      img: "robert.png",
      year: "2018"},

      {firstName: "danny",
      lastName: "tang",
      img: "danny.png",
      year: "2018"},

      {firstName: "yolanda",
      lastName: "zhou",
      img: "yolanda.png",
      year: "2018"},

      {firstName: "eric",
      lastName: "chen",
      img: "eric.jpg",
      year: "2018"},

      {firstName: "hunter",
      lastName: "gatewood",
      img: "hunter.jpg",
      year: "2017"},

      {firstName: "david",
      lastName: "wong",
      img: "david.jpg",
      year: "2017"},

      {firstName: "aashish",
      lastName: "welling",
      img: "aashish.png",
      year: "2017"},

      {firstName: "eva",
      lastName: "yeung",
      img: "eva.jpg",
      year: "2016"},

      {firstName: "kimberli",
      lastName: "zhong",
      img: "kimberli.jpg",
      year: "2016"},

      {firstName: "alan",
      lastName: "chiao",
      img: "alan.jpg",
      year: "2016"},

      {firstName: "tian",
      lastName: "mi",
      img: "tian.png",
      year: "2016"},

      {firstName: "stephanie",
      lastName: "yu",
      img: "styu.png",
      year: "2015"},

      {firstName: "victor",
      lastName: "hung",
      img: "vhung.png",
      year: "2015"},

      {firstName: "xander",
      lastName: "lin",
      img: "xander.png",
      year: "2015"},

      {firstName: "jeffrey",
      lastName: "sun",
      img: "jeffrey.jpg",
      year: "2015"},     

      {firstName: "felix",
      lastName: "sung",
      img: "felix.png",
      year: "before2015"},
      
      {firstName: "kim",
      lastName: "toy",
      img: "kim.png",
      year: "before2015"},

      {firstName: "stephanie",
      lastName: "chang",
      img: "stephchang.jpg",
      year: "before2015"}
      //OLDEST ALUMS HERE
    ]
    
  each person in alums
    .single.staff
      .img(style=`background-image: url("public/img/staff/alums/${person.year}/${person.img}` '\")')
      .about
        .name 
          strong= person.firstName + " "
          = person.lastName
