//- Content on winners.pug

//- About this page
mixin header()
  h1 past winners
  .slug
    | from free-food-finders to cute graphical games,
    | web-lab winners are united by the quality and completeness
    | of their web application

//- Past winners
  Add to `past` Array
mixin past_winners()
  -
    var past = [
      {
        head: "2018. back to the roots",
        divisions: [
          {
            name: "main divison",
            winners: [
              {
                place: "1st Place",
                project: "plix",
                creators: ['Shannon Peng', 'Jessica Tang'],
                descript: "Your pixel art community",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/plix.jpg",
                link: "plix.herokuapp.com"
              },
              {
                place: "2nd Place",
                project: "scribble",
                creators: ['Sophia Kwon', 'Sandy Yang'],
                descript: "Play telephone pictionary with your friends! Make up a phrase and watch as your friends attempt to draw, caption, redraw, and recaption!",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/scribble.jpg",
                link: "scribble6148.herokuapp.com"
              },
              {
                place: "3rd Place",
                project: "mtune",
                creators: ['Patrick Insinger', 'Philip Sun'],
                descript: "mtune allows you to seamlessly create and stream playlists with songs from SoundCloud, Spotify, and YouTube. Spotify contains professional recorded tracks, while communities like YouTube and SoundCloud foster indie remixes and recorded concerts. Our platform allows users to combine these services to get the best listening experience!",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/mtune.jpg",
                link: "mtune.io"
              },
              {
                place: "4th Place",
                project: "CourseRoots",
                creators: ['Angela Cai', 'Alisa Ono', 'Tingxiao Sun'],
                descript: "CourseRoots is a collaborative annotation tool for lecture notes. Students come here to study notes, share insights and grow a network of knowledge among their peers. Currently, it's only available for MIT students due to copyright reasons, but we hope to share this tool with students worldwide.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/courseroots.jpg",
                link: "courseroots.site"
              },
            ],
            honorableMentions: [
              {
                project: "Greenspace",
                creators: ['David Morejon', 'Gabrielle Rivera', 'Mary Thielking'],
                descript: "Greenspace allows you to mark outdoor areas that other users can view. Plan events on these 'greenspaces' (add your friends!), write reviews, and discover new natural areas around you to check out!",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/greenspace.jpg",
                link: "greenspace2018.herokuapp.com"
              },
              {
                project: "BeaverBytes",
                creators: ['Agustin Garcia', 'Alyssa Li', 'Weishan Liao'],
                descript: "BeaverBytes is an interactive map that lets you share leftovers and notifies you when free food is available. It keeps track of which foods are current and near you so you don’t wade through irrelevant postings. The profile and leaderboard pages make it easy to see your history and compare with other beavers. It’s easy as pie!",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/beaverbytes.jpg",
                link: "beaverbytes.herokuapp.com"
              },
            ],
            semifinalists: []
          },
          {
            name: "casual divison",
            winners: [
              {
                place: "1st Place",
                project: "Vulture",
                creators: ['Linnea Rylander', 'Angela Wong'],
                descript: "Vulture is an innovative alternative to the current MIT free food mailing list.  By providing the MIT community with the location, type, distance, and time of free food postings in a user friendly way, students can easily combat hunger.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/vulture.jpg",
                link: "vulturemit.herokuapp.com"
              },
              {
                place: "2nd Place",
                project: "inkspire",
                creators: ['Shannen Wu', 'Jessica Yin'],
                descript: "Want to see some of your craziest imaginations come to life? Are you an artist who needs a bit of inspiration? On inkspire, you can post an idea, and see what others have to illustrate for you!",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/inkspire.jpg",
                link: "inkspire-app.herokuapp.com"
              },
              {
                place: "3rd Place (tie)",
                project: "Scheduly",
                creators: ['Stephanie Hu'],
                descript: "Scheduly is a task scheduling app that helps you feel motivated and productive. In addition to tracking your daily tasks, Scheduly includes a number of innovative features that aim to keep your todo lists organized and your mind focused on one thing at a time.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/scheduly.jpg",
                link: "myscheduly.herokuapp.com"
              },
              {
                place: "3rd Place (tie)",
                project: "Free Food Finder",
                creators: ['Jenna Himawan', 'Tavish Smith', 'Byron Xu'],
                descript: "Free Food Finder is a website that helps you get free food. It integrates with the existing free-food@mit.edu mailing list and brings new features, such as instant maps, to offer a better free food finding experience for the MIT community.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/freefoodfinder.jpg",
                link: "mit-free-food-finder.herokuapp.com"
              },
            ],
            honorableMentions: [],
            semifinalists: [
              {
                project: "mealmate",
                creators: ['Cynthia Liu', 'Nanxi Liu', 'Sabrina Liu'],
                descript: "Don’t have plans for dinner next week? Then use mealmate, a web app that pairs MIT students up to eat at the dining halls! mealmate can help you befriend peers, connect with friends, and enjoy a delicious meal in good company.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/mealmate.jpg",
                link: "mealmate-mit.herokuapp.com"
              },
              {
                project: "dtp",
                creators: ['Jaeyoung Jung', 'Nikhil Reddy', 'Alvin Zhu'],
                descript: "dtp provides students with a platform to organize and discover public study sessions and pset parties. Users can then invite friends to their events and sync their schedule with calendar applications such as Google Calendar, Thunderbird, and Outlook.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/dtp.jpg",
                link: "jungj.scripts.mit.edu/dtp"
              },
              {
                project: "Down2Meet",
                creators: ['Mathangi Ganesh', 'Emily Wang', 'Vicky Wang'],
                descript: "Think back to the roots of your friendships-- how did you make your current friends?  For many of us, it's not through the internet, but through real life events. down2meet matches MIT students to go to local events together and become friends. down2meet allows you to make friends with the goal of meeting in person at an event, skipping the awkward \"get to know each other\" phase of other online friend-matching apps.",
                img: "http://webdevelopment.mit.edu/2018/webby/screenshots/down2meet.jpg",
                link: "down2meet.herokuapp.com"
              },
            ]
          }
        ]
      },
      {
        head: "2017. beyond the horizon",
        divisions: [
          {
            name: "main divison",
            winners: [
              {
                place: "1st Place",
                project: "dou/dou",
                creators: ['Tahin Syed'],
                descript: "A picture is worth 1000 words. What if we take out half the words from your picture and asked someone else to draw what they think is beyond the horizon?",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/doudou.png",
                link: "doudou.azurewebsites.net"
              },
              {
                place: "2nd Place",
                project: "NapQuest",
                creators: ['Shahul Alam', 'Lauren Huang', 'Ameila Paine'],
                descript: "Find the hottest places to nap around campus on our interactive NapMap. Become one of our dedicated NapStars by sharing your favorite napping locations and pictures of your napping friends. Climb your way to the top of our Dreamerboard for fame and glory.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/napquest.png",
                link: "napquest.herokuapp.com"
              },
              {
                place: "3rd Place",
                project: "Stations",
                creators: ['Jeremy Bogle', 'Elliott Forde', 'Patrick Everett'],
                descript: "Stations is a crowd-sourced DJing application - while at a party, studying with others, or simply relaxing, Stations allows you to host your own \"station\" to give your guests the ability to add songs to the queue and vote on what's next from both Spotify and Soundcloud, combining the best of each platform.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/stations.png",
                link: "stationsplay.herokuapp.com"
              },
              {
                place: "4th Place",
                project: "Hot Tea",
                creators: ['Andy Kuang', 'Rhea Lin', 'Jennifer McCleary'],
                descript: "Hot Tea provides customers with live restaurant wait times. With a click of a button, restaurants can easily provide information that customers can conveniently view when deciding where to eat.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/hottea.png",
                link: "hot-tea.herokuapp.com"
              },
            ],
            honorableMentions: [
              {
                project: "GoalDigger",
                creators: ['Keith Orlando'],
                descript: "GoalDigger is a social media platform for creating and sharing goals. Successful progress towards a goal requires accountability. With GoalDigger, weekly check-ins help you stay focused and create productive competition among friends.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/goaldigger.png",
                link: "goaldigger.io"
              },
              {
                project: "Spree",
                creators: ['Phillip Ou'],
                descript: "Don’t let the guilt of spending money prevent you from having incredible experiences. Spree helps you achieve your financial goals so you can achieve your adventurous ones.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/spree.png",
                link: "spree-save.herokuapp.com"
              },
            ],
            semifinalists: [
              {
                project: "CommUnity",
                creators: ['Daniel Filizzola', 'Zachary Collins', 'Rosanna Zhang'],
                descript: "CommUnity is an online platform that allows individuals to reach out in a way that ensures comfort and security. One can connect to a member of a particular culture, hobby, belief, or region and engage in a real time conversation that might not otherwise be able to transpire.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/community.png",
                link: "community6148.herokuapp.com"
              },
              {
                project: "ConnectMIT",
                creators: ['Hannah Chen', 'Saron Teklezgi', 'Kendra Knittel'],
                descript: "connectMIT is a simpler version of Infinite Connection, designed to help MIT students and alumni network together",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/connectmit.png",
                link: "connect-mit.herokuapp.com"
              },
              {
                project: "Fudo",
                creators: ['Rachel Zhang', 'Deepankar Gupta', 'Sunny Tian'],
                descript: "Through fudo, you can view the newest and most popular food images and share your latest food experiences or favorite recipes. Join now to experience our food loving community.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/fudo.png",
                link: "fudo.com"
              },
              {
                project: "Constellation",
                creators: ['Angel Alvarez', 'Thad Megchelsen'],
                descript: "Constellation is a tool used to connect tutorials and websites for easier viewing. Creating stars and weaving them into constellations is simple, and discovering content is even simpler.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/constellation.png",
                link: "constellationmit.azurewebsites.net"
              },
              {
                project: "JIF&Jelly",
                creators: ['Jeffrey Lu'],
                descript: "jif&jelly provides a personal experience for discovering and saving recipes. You can search online recipes by ingredients, save and modify recipes, and create your own recipes.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/jifjelly.png",
                link: "jifandjelly.herokuapp.com"
              },
            ]
          },
          {
            name: "casual divison",
            winners: [
              {
                place: "1st Place",
                project: "Beaver++",
                creators: ['Chris Xue', 'Rebecca Weinberger', 'Reva Ranka'],
                descript: "A Node.js-powered web app to trade products within the MIT community. Inspired by the popular Facebook [Free & for Sale] group, this site is a buy/sell platform that allows users to upload, view, search for, and save products. It also includes a messaging/notification feature, which gives users a way to easily carry out transactions with each other.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/beaver.png",
                link: "beaverplus.herokuapp.com"
              },
              {
                place: "2nd Place",
                project: "Fluency",
                creators: ['Su Yang', 'Stella Yang', 'Kentaro Tanaka'],
                descript: "Fluency is an educational, language-learning web application that transcends the physical boundaries of traditional classroom walls and connects foreign language students from around the world.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/fluency.png",
                link: "fluency.azurewebsites.net"
              },
              {
                place: "3rd Place",
                project: "Hatch",
                creators: ['Allen Lee', 'Allen Liu'],
                descript: "Hatch is a web application that gives students a platform to open up their own restaurant out of their dorm. Students can choose to either host a meal (charging a fee or not) or attend a meal. Hatch provides an easy way for students to display information about their meal, and an easy way for users to browse what other students are making!",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/hatch.png",
                link: "hatch-mit.herokuapp.com"
              },            
            ],
            honorableMentions: [],
            semifinalists: [
              {
                project: "Biblios",
                creators: ['Sammy Cherna', 'Julia Fiksinski', 'Ariel Jacobs'],
                descript: "Biblios allows you to maintain your own personal library, available for other to borrow. Find shared books nearby and borrow them from your neighbors. Biblios is a social network for readers that actually has what you want to read.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/biblios.png",
                link: "biblios.meteorapp.com"
              },
              {
                project: "Mad Skillz",
                creators: ['Kat, Shannon, Dillon', ''],
                descript: "Mad Skillz connects skilled college students to ambitious hobbyist students. Students who undertake ambitious projects can post specific tasks to be completed. Skilled students can then browse the postings and put their skills to work.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/madskillz.png",
                link: "madskillz.herokuapp.com"
              },
              {
                project: "Together",
                creators: ['Matthew Woicik', 'John Matthew'],
                descript: "A website that allows users to make goals and daily tasks for those goals, which the user completes in order to build streaks and level up. It also is a place where users can view the goals of other users, and even add other user's goals to the list of their own goals if they see one they like. The user is paired with a group of other users with a similar goal type, for achieving a goal is hard, why not do it together?",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/together.png",
                link: "dtofree.herokuapp.com"
              },
              {
                project: "Handprint",
                creators: ['Ramya Nagarajan', 'Jennifer Zou', 'Shannon Peng'],
                descript: "Handprint gamifies volunteering. Community organizations can post challenges for volunteers to complete; volunteers can compete against their friends to earn points and level up for completing the most volunteering challenges.",
                img: "http://webdevelopment.mit.edu/2017/webby/screenshots/handprint.png",
                link: "handprints.herokuapp.com"
              },              
            ]
          }
        ]
      },
      {
        head: "2016. remember the future",
        divisions: [
          {
            name: "main divison",
            winners: [
              {
                place: "1st Place",
                project: "FratWorks",
                creators: ['Donald Little'],
                descript: "Fratworks.xyz is a dashboard that helps manage chores and tasks of a fraternity to ensure an even contribution by all members.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_fratworks.png",
                link: "fratworks.xyz"
              },
              {
                place: "2nd Place",
                project: "Yarn",
                creators: ['Rachel Simpson', 'Hunter Gatewood', 'Kamoya Ikhofua'],
                descript: "With Yarn, join a community of people writing beautiful, collaborative stories.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_yarns.png",
                link: "yarns.herokuapp.com"
              },
              {
                place: "3rd Place",
                project: "Overlaps",
                creators: ['Yilun Du', 'Justin Yu', 'Brandon Wang'],
                descript: "Overlaps is an online platform through teachers and students can both take and offer classes, with a unique pricing system.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_overlaps.png",
                link: "overlaps.meteor.com"
              },
              {
                place: "4th Place",
                project: "MoneyMatters",
                creators: ['Danny Tang', 'Aaron Sipser', 'Rupayan Neogy'],
                descript: "MoneyMatters is a money tracking web app designed for the average millennial, featuring a split charge calculator and detailed history views.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_moneymatters.png",
                link: "moneymatters.eastus.cloudapp.azure.com"
              },
            ],
            honorableMentions: [
              {
                project: "Capsulate",
                creators: ['Reece Tamashiro', 'Andrew Ilyas', 'Kenny Gea'],
                descript: "Make predictions. Interact with other people's predictions. Explore how close everyone's predictions were to reality.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_capsulate.png",
                link: "capsulate.me"
              },
              {
                project: "Course TBD",
                creators: ['Yinzhan Xu', 'Jintao Chen', 'Qingshu Han'],
                descript: "Course TBD shows you what classes your friends are taking and your next Pset's due date on one shared calendar.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_coursetbd.png",
                link: "www.coursetbd.com"
              },
            ],
            semifinalists: [
              {
                project: "IHTFYP",
                creators: ['Leigh Marie Braswell', 'Lizzie Wei'],
                descript: "Whenever someone loses or finds an item, they can use our IHTFYP to easily find or return it, which matches similar lost and found forms.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_ihtfyp.png",
                link: "ihtfyp.herokuapp.com"
              },
              {
                project: "Uhmm",
                creators: ['Kyle Swanson', 'Julian Fuchs', 'Bryce Hwang'],
                descript: "A roadtrip meal planner: given start and destination points, Uhmm suggests good restaurants along the way and displays them on a map.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_uhmm.png",
                link: "roadtrip-uhmm.rhcloud.com"
              },
              {
                project: "Firefly moment",
                creators: ['Cynthia Lo', 'Lisa Ruan', 'Annie Dai'],
                descript: "Firefly helps you to capture, catalog, and share day-to-day sayings, quotes, and memories, storing them for whenever you need a quick pick-me-up.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_fireflymoment.png",
                link: "firefly-moment.herokuapp.com"
              },              
            ]
          },
          {
            name: "casual divison",
            winners: [
              {
                place: "1st Place",
                project: "Markit",
                creators: ['Daniel Smith', 'Elliott Forde'],
                descript: "markit is an educational stock market alternative that allows you to practice trading in the market without knowing technical terms or the monetary risk.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_markit.png",
                link: "pure-caverns-1922.herokuapp.com"
              },
              {
                place: "2nd Place",
                project: "Graffiti",
                creators: ['Kevin Weng', 'Christopher Wang'],
                descript: "Graffiti lets users create unstructured message boards. Users vote on messages' lifespans to extend the period of time they are displayed.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_graffiti.png",
                link: "graffitimit.meteor.com"
              },
              {
                place: "3rd Place",
                project: "Skiary",
                creators: ['Jackie Liu', 'Cristina Mata', 'Amy Liu'],
                descript: "Skiary is a reimagining of the personal diary. Using geolocation services and a weather API, Skiary generates calming sky gradients and graphics into its UI.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_skiary.png",
                link: "skiary.meteor.com"
              },            
            ],
            honorableMentions: [],
            semifinalists: [
              {
                project: "Pantry",
                creators: ['Binh Le', 'Gregory Hui', 'Wei Xun He'],
                descript: "Pantry is a web app designed to help people use their spare ingredients in order to cook meals that align with their exercise and wellness goals.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_pantry.png",
                link: "pantrysite.herokuapp.com"
              },
              {
                project: "MyBucket",
                creators: ['Maryam Archie', 'Hiram Moncivais'],
                descript: "MyBucket is a web application that allows users to make a bucket list and then provides local opportunities to fulfill their dreams.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_mybucket.png",
                link: "mybucket.meteor.com"
              },
              {
                project: "S'mores",
                creators: ['Nayoung Lee', 'Cheahuychou Mao', 'Margaret Yu'],
                descript: "S'mores is a webapp that lets you plan your meals efficiently by minimizing the time spent in creating your grocery list. ",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_smores.png",
                link: "smoresplanner.herokuapp.com"
              },
              {
                project: "Pset Buddies",
                creators: ['Sarah Shader', 'Lauren Luo'],
                descript: "Meet more people and finish your psets! With Pset Buddies you can enter your pset progress and find people to work with!",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_psetbuddies.png",
                link: "psetbuddies.herokuapp.com"
              },
              {
                project: "Hack Homies",
                creators: ['Jessie Wang', 'Vivian Zhang', 'Sarah Wooders'],
                descript: "Build your hackathon team using HackHomies' custom recommendation and search systems.",
                img: "http://webdevelopment.mit.edu/2016/webby/screenshots/_t_hackhomies.png",
                link: "hackhomies.meteor.com"
              },              
            ]
          }
        ]
      },
      {
        head: "2015. around the world",
        divisions: [
          {
            name: "main divison",
            winners: [
              {
                place: "1st Place",
                project: "Harmony",
                creators: ['Liang Zhou', 'Budmonde Duinkharjav', 'Justin Xiao'],
                descript: "Harmony is a web app designed to facilitate online collaborative sheet music composition.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_harmony.png",
                link: "icanphysics.herokuapp.com"
              },
              {
                place: "2nd Place",
                project: "MediaSync",
                creators: ['Eugene Oh', 'Armand McQueen'],
                descript: "MediaSync lets you watch videos and listen to music with your friends no matter how far away they are - and all in perfect sync!",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_mediasync.png",
                link: "mediasync-eugeneoh.rhcloud.com"
              },
              {
                place: "3rd Place",
                project: "Nomad",
                creators: ['Dang Pham', 'Nathalie Huynh', 'Kamilla Takiela'],
                descript: "Make friends, explore cities, and share your memories with other travelers near you, with our travel buddy Nomad!",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_nomad.png",
                link: "nomadhub.herokuapp.com"
              },
              {
                place: "4th Place",
                project: "Fleek",
                creators: ['Akshay Ravikumar', 'Kimberli Zhong', 'Vahid Fazel-Rezai'],
                descript: "Search a growing database of 6000+ problems by tags, or peruse problems in existing sets, and solve them!",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_fleek.png",
                link: "fleekon.me"
              },
            ],
            honorableMentions: [
              {
                project: "D3NIGMA",
                creators: ['Landon Carter', 'Raymond Liu', 'Runpeng Liu'],
                descript: "Create beautiful, interactive maps for your website or presentation without coding anything with our full-feature editor and intuitive tutorial system.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_d3nigma.png",
                link: "d3nigma.herokuapp.com"
              },
              {
                project: "Grapes",
                creators: ['Michelle Suh', 'Estelle Yoon', 'Ami Suzuki'],
                descript: "Grapes is a community-based web platform where anyone can buy and sell used items in their own marketplace.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_grapes.png",
                link: "grapes-msuh.rhcloud.com"
              },
              {
                project: "LinguaGem",
                creators: ['Christopher Wornack', 'Raymond Wu', 'Elise Xue'],
                descript: "LinguaGem is a series of games designed to help the user learn basic phrases in any language of choice.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_linguagem.png",
                link: "linguagem.herokuapp.com"
              },              
            ],
            semifinalists: []
          },
          {
            name: "casual divison",
            winners: [
              {
                place: "1st Place",
                project: "travelingtable",
                creators: ['Kimberly Leon', 'Kiran Wattamwar', 'Deepti Raghavan'],
                descript: "travelingtable allows users to explore and post recipes from cuisines around the world through an interactive map.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_travelingtable.png",
                link: "travelingtable.herokuapp.com"
              },
              {
                place: "2nd Place",
                project: "GreenBuggle",
                creators: ['Jessica Guo', 'Lilian Ma', 'Sunnia Ye'],
                descript: "GreenBuggle promotes responsible travel by comparing the monetary, time, and environmental costs of driving, public transport or walking.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_greenbuggle.png",
                link: "greenbuggle.herokuapp.com"
              },
              {
                place: "3rd Place",
                project: "Hitch",
                creators: ['Advaith Anand', 'Rose Wang', 'Larry Zhang'],
                descript: "Hitch finds people for you to share rides with. Just tell us where you want to go and we'll match you with other people on similar routes.",
                img: "http://webdevelopment.mit.edu/2015/webby/screenshots/_t_hitch.png",
                link: "hitcharide.herokuapp.com"
              },            
            ],
            honorableMentions: [],
            semifinalists: []
          }
        ]
      },
    ]

  each year in past
    .past
      h2= year.head
      each division in year.divisions
        .division
          h3= division.name
          .projects.grid
            each winner in division.winners
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= winner.place
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= winner.link)= winner.link
            each winner in division.semifinalists
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= "Semifinalist"
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= winner.link)= winner.link
            each winner in division.honorableMentions
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= "Honorable Mention"
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= winner.link)= winner.link
