//- Content on winners.pug

//- About this page
mixin header()
  h1 past winners
  .slug
    | from free-food-finders to cute graphical games,
    | web.lab winners are united by the quality and completeness
    | of their web application

//- Past winners
  Add to `past` Array
mixin past_winners()
  -
    var past = require('./config').winners;

  each year in past
    .past
      h2= year.head
      each division in year.divisions
        .division
          h3= division.name
          .projects.grid
            each winner in division.winners
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= winner.place
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= "http://" + winner.link)= winner.link
            each winner in division.honorableMentions
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= "Honorable Mention"
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= "http://" + winner.link)= winner.link
            each winner in division.semifinalists
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= "Semifinalist"
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= "http://" + winner.link)= winner.link
