//- Content on winners.pug

//- About this page
mixin header()
  h1 past winners
  .slug
    | from crowd-sourced DJing to cute graphical games,
    | web.lab winners are united by the quality and completeness
    | of their web applications

//- Past winners
  Add to `past` Array
mixin past_winners()
  -
    var past = require('./config').winners;

  each year in past
    .past
      h2= year.head
      each division in year.divisions
        .division
          h3= division.name
          .projects.grid
            each winner in division.winners
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= winner.place
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= "https://" + winner.link)= winner.link
            each winner in division.honorableMentions
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= "Honorable Mention"
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= "https://" + winner.link)= winner.link
            each winner in division.semifinalists
              .single.project
                .img(style='background-image: url("' + winner.img + '")')
                .about
                  .place= "Semifinalist"
                  .name= winner.project
                  .creators= "by " + winner.creators.join(", ")
                  .descript= winner.descript
                  .link
                    a(href= "https://" + winner.link)= winner.link
    if year.head.slice(0, 4) === "2024"
      p= "Read the behind-the-scenes stories of four winners "
        a(href= "https://render.com/blog/built-on-render-winners-mit-weblab" target="_blank")= "here"
        span= "!"

